.App {
  background-color: #282c34;
  min-height: 100vh;
  text-align: center;
  font-size: calc(5px + 2vmin);
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.social-icon {
  margin-left: 5px;
  margin-right: 5px;
}

.description {
  display: flex;
  flex-direction: row;
  color: grey;
}

.descriptionBlock {
  font-size: calc(5px + 1.5vmin);
  margin-left: calc(3vmin);
  margin-right: calc(3vmin);
}

@media only screen and (max-width: 600px) {
  .description {
    /*this introduces a clear space between the flex items*/
    flex-direction: column;
  }
}
